<phpunit bootstrap="bootstrap.php"
		colors="false"
		convertErrorsToExceptions="true"
		convertNoticesToExceptions="true"
		convertWarningsToExceptions="true"
		stopOnFailure="false">
                    
    <filter>
        <whitelist>
            <directory suffix=".php">../models</directory>
        </whitelist>
    </filter>

</phpunit>