<phpunit bootstrap="bootstrap.php"
		colors="false"
		convertErrorsToExceptions="true"
		convertNoticesToExceptions="true"
		convertWarningsToExceptions="true"
		stopOnFailure="false">
                    
    <filter>
        <whitelist>
            <directory suffix=".php">../models</directory>
        </whitelist>
    </filter>

    <selenium>
        <browser 
		name="Firefox" 
		browser="*firefox" 
		host="localhost"
		port="4444"
		timeout="30000"
	/>
    </selenium>
</phpunit>
